<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {{#if development}}
    <script type="module">
    import RefreshRuntime from '{{assetUrl}}/@react-refresh'
    RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    </script>
    <script type="module" src="{{assetUrl}}/@vite/client"></script>
    <script type="module" src="{{assetUrl}}/src/main.tsx"></script>
  {{else}}
    <link rel="stylesheet" href="/static/{{cssUrl}}">
    <script type="module" src="/static/{{jsUrl}}"></script>
  {{/if}}
</head>
<body>
  {{{body}}}
</body>
</html>